@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-image: url(../img/backdrop.jpg);
  background-size: cover; }

.card {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 300px;
  height: 450px;
  background: #000;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.466); }
  .card:hover .details {
    bottom: 0;
    transition: all .5s; }
  .card:hover .poster:before {
    bottom: 0; }
  .card:hover .poster img {
    filter: blur(2px);
    transform: translateY(-40px); }
  .card .poster {
    position: relative;
    overflow: hidden; }
    .card .poster img {
      width: 100%;
      transition: .5s; }
    .card .poster:before {
      content: '';
      position: absolute;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.808) 60%, transparent);
      height: 100%;
      width: 100%;
      z-index: 1;
      bottom: 0;
      bottom: -202px;
      left: 0;
      transition: .5s; }

.details {
  position: absolute;
  padding: 15px;
  width: 100%;
  height: 82%;
  box-sizing: border-box;
  left: 0;
  bottom: -202px;
  z-index: 2;
  transition: all .4s ease; }
  .details h2 {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0; }
  .details span {
    font-size: .875rem;
    color: #ff9800; }

.rating {
  position: relative;
  padding: 5px 0;
  color: #f7f406; }
  .rating i.fa {
    margin-right: 2px;
    font-size: .875rem; }

.tags {
  position: relative;
  margin-top: 5px; }
  .tags span {
    padding: 2px 5px;
    margin-top: 2px;
    display: inline-block;
    border-radius: 4px;
    color: #fff; }
    .tags span.action {
      background: #7206f7; }
    .tags span.darma {
      background: #f70661; }

.info {
  color: #fff; }
  .info p {
    margin: 15px 0 10px; }

.star {
  position: relative;
  display: flex;
  align-items: center; }
  .star h4 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 20px; }
  .star ul {
    margin-left: 10px;
    padding: 0;
    display: flex; }
    .star ul li {
      list-style: none;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #fff; }
      .star ul li:not(:first-child) {
        margin-left: -10px; }
      .star ul li img {
        width: 100%; }
