@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-image:  url(../img/backdrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 300px;
    height: 450px;
    background: #000;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.466);
    // border-radius: 3%;

    // the details shows
    &:hover .details {
        bottom: 0;
        transition: all .5s;
    }
    // when hover the dark background go up
    &:hover .poster:before {
        bottom: 0;
    }

    // image blur on hover
    &:hover .poster img {
        filter: blur(2px);
        transform: translateY(-40px);
    }

    .poster {
        position: relative;
        overflow: hidden;
        img { 
            width: 100%;
            transition: .5s;
        }
        &:before {
            content: '';
            position: absolute;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.808) 60%, transparent);
            height: 100%;
            width: 100%;
            z-index: 1;
            bottom: 0;
            bottom: -202px;
            left: 0;
            transition: .5s;

        }
    }

}


.details {
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 82%;
    box-sizing: border-box;
    left: 0;
    bottom: -202px;
    z-index: 2;
    transition: all .4s ease;
    h2 {
        color: #fff;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    span {
        font-size: .875rem;
        color: #ff9800;
    }
}

.rating {
    position: relative;
    padding: 5px 0;
    color: #f7f406;
    i.fa {
        margin-right: 2px;
        font-size: .875rem;
    }
}

.tags {
    position: relative;
    margin-top: 5px;
    
    span {
        padding: 2px 5px;
        margin-top: 2px;
        display: inline-block;
        border-radius: 4px;
        color: #fff;
        &.action {
            background: #7206f7;
        }
        &.darma {
            background: #f70661;
        }
    }
}

.info {
    
    color: #fff;
    p{
        margin: 15px 0 10px;
    }
}

.star {
    position: relative;
    display: flex;
    align-items: center;
    h4 {
        color: #fff;
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    ul {
        margin-left: 10px;
        padding: 0;
        display: flex;
        li {
            list-style: none;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #fff;
            &:not(:first-child) {
                margin-left: -10px;
            }
            img {
                width: 100%;
                // border-radius: 50%;
                
            }
        }
    }
}